* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root {
    --white: #ffffff;
    --black: #000000;
    --lightblue: #B4D0E7;
    --bg-bottoni: #0061ff;
    --lightgrey: #f5f5f5;
    --greenlogo: #A2D39B;
    --lightbluelogo: #0093CE;
    --redlogo: #ff1c1c;
    --redlogo2: #d5001f;
    --bluelogo: #0d2481;
    --yellowlogo: #ffd830;
    --logo: #61082b;

}

.bordo {
    border: 1px solid black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
 html {
    scroll-behavior: smooth;
 }

 header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;

    background-color: var(--white);
    z-index: 1000;
}

.li1{
    list-style: none;
    text-align: center;
    padding: 20px;
}

 body {
    background-color: var(--white);

 }

 main {
    padding-top: 60px;
    font-family: 'Open Sans', sans-serif;
 }

 .hero {
    background-color: var(--lightblue);

 }

 h1 {
    font-size: 4rem;
    
    padding:50px;
    
 }

.start {
    text-align: center;
}

 .mb-100 {
    margin-bottom: 100px;
 }

.mb-20 {
    margin-bottom: 20px;
}

 .mt-10{
    margin-top: 10px;
 }

 .mt-35 {
    margin-top:35px;
 }

 
.mt-50 {
    margin-top: 50px;
}


 

.pad-p1 {
    
    padding-right: 20%;
 }

.pad-p2 {
    padding-left: 10%;
    padding-right: 20%;

}

.pad-p3 {
    padding-left: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.pad-p4 {
    padding-right: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pad-p5 {
    padding: 100px 60px;
    
}

h4{
    font-size: 25px;
}

.check {
    color: var(--bg-bottoni);
}

.bottone2 {
    border: 1px solid black;
    padding:  10px 20px;
}

 .arrow {
    margin-top: 90px;
    font-size: 3rem;
 }

.d-flex {
    display: flex;
    flex-direction: row;
}



.space-beetween {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.align-center2 {
    align-content: center;
}

.justify-center {
    justify-content: center;
    padding: 10px;
    
}

.p-piani {
    padding-left: 6px;
}

img {
    width: 100%;
    display: block;
}
.img2 {
    padding: 80px 50px;
    display: block;    
}
 .img3 {
    padding: 80px 20px;
    display: block;
 }



.flex-start {
    display: flex;
    justify-content: flex-start;
 }

.sec-1 {
    padding-left: 60px;
}
    

.a-none {
    text-decoration: none;
    color: var(--black);
}

.bottone {
    background-color: var(--bg-bottoni);
    color: white;
    padding: 5px 10px;
}

.li-f {
    list-style: none;
    padding-top: 15px;
}

.li-piani {
    list-style: none;
    text-align:start;
}
 .white {
    color: white;
 }
 
footer {
    background-color: var(--black);
}

h3 {
    padding-top: 50px;
}
 .ul-f {
    padding-top: 20px;
 }

 .radio {
  padding-top: 45px;
 }

 .r {
     margin-left: 30px;
 }
 
 .piano {
    max-width: 30%;
 

}

.calc {
    width: calc(100% / 3);
}

.calc2 {
    height: calc(100vw / 3);
}

.calc3 {
    width: calc(100% / 2);
    height: calc(33.3vw / 2);
}
 .calc4 {
    width: calc(100% / 2);
    height: calc(28vw / 2);

 }

.dimensione {
    font-size: 2rem;
    padding-right: 40%;
}

.red {
    background-color: var(--redlogo);
    color: white;
}

.red2 {
    background-color: var(--redlogo2);
    color: white;
}

.yellow {
    background-color: var(--yellowlogo);
    color: white;
}

.black {
    background-color: var(--logo);
}

.green {
    background-color: var(--greenlogo);
}

.light-blue {
    background-color: var(--lightbluelogo);
}

.blue {
    background-color: var(--bluelogo);
}

.viola {
    background-color: var(--lightblue);
}

.chiaro {
    background-color: white;
}

.invert {
    filter: invert(1);

}

.size {
    font-size: 13px;
    padding-left: 27px;
    padding-right: 27px;
}

#trial {
    padding-right: 30%;
}

.border-top {
    border-top: 1px solid black;
    padding-top: 20px;
}
.bold {
    font-weight: bold;
}